# Put temporary objects in 'obj', (test) binaries in 'bin',
# and other stuff (such as test root files) in tmp.
*/obj
*/bin
*/tmp
pydump*.py
core/python/__init__.py
*.pyc

*~
*.local
*.pdf
*.png
*.json
VLQToHiggsPairProd/*
ZprimeSemiLeptonic/*
UHHNtupleConverter/*
VBFresonanceToWW/*
core/python/*.root


BaconJets/*
JECDatabase/*
pydump.py
Makefile.local
JetsTest/*

scripts/crab/*.log
scripts/crab/crab_Test/*
scripts/crab/crab_VBF_*
scripts/crab/crab_Bulk*
scripts/crab/crab_Rad*
scripts/crab/crab_Wprime*
scripts/crab/crab_Zprime*
scripts/crab/crab_Q*
scripts/crab/crab_WJets*
scripts/crab/crab_ZJets*
scripts/crab/submit*.sh
scripts/crab/status*.sh
scripts/crab/kill*.sh
scripts/crab/createXML.sh
